.cursor-pointer {
  cursor: pointer;
}

#copyright {
  display: block;
  width: 100%;
  word-break: keep-all;
  color: #6c757d;
  text-decoration: none;
  transition: 0.25s;
}

#copyright .logo {
  transition: 0.25s;
  padding: 2px 4px;
  font-weight: bolder;
  border-radius: 5px;
  width: max-content;
  display: inline-block;
  background-color: #fff;
}

#copyright .so {
  color: rgba(3, 141, 232, 255);
}

#copyright .de {
  color: rgba(253, 64, 81, 255);
}

#copyright .world {
  color: rgb(26, 32, 44);
}
