:root {
  --bg-container: rgba(255, 255, 255, 0.0625);
  --bg-container-hover: rgba(255, 255, 255, 0.125);
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  --lbl-primary: #f7f7f7;
  --lbl-secondary: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(26, 32, 44);
}

#spider {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#loader {
  background-color: rgba(0, 0, 0, 0.625);
  backdrop-filter: blur(10px);
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: 0.25s;
  opacity: 1;
}

#loader span {
  border: 10px solid rgba(255, 255, 255, 0.125);
  border-top: 10px solid rgba(3, 141, 232, 255);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 0.75s linear infinite;
  transition: 0.25s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#square {
  position: absolute;
  z-index: -1;
  display: block;
  width: 200px;
  height: 200px;
  background-color: rgba(3, 141, 232, 255);
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: none;
}

#triangle {
  position: fixed;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent rgba(253, 64, 81, 255) transparent;
  bottom: calc(50% - 275px);
  right: calc(50% - 225px);
  box-shadow: none;
}

.form {
  position: relative;
  background-color: var(--bg-container);
  color: var(--lbl-secondary);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(40px);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  z-index: 2;
}

.form-header {
  padding: 40px;
}

.form-body {
  padding: 0px 40px 40px;
}

.form-header .form-img {
  margin: auto;
  background-color: var(--bg-container);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 10px;
}

.form-header .form-img .logo-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.form-header .form-title {
  margin: 20px auto 10px;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: var(--lbl-primary);
  font-size: larger;
}

.form-header .form-description {
  text-align: center;
  font-size: small;
}

.form-body {
  position: relative;
}

.form-body>div {
  position: relative;
}

.form-body .form-control {
  display: block;
  margin-bottom: 30px;
  font-size: medium;
  border-radius: 5px;
  background-color: var(--bg-container);
  color: var(--lbl-primary);
  border: 1px solid var(--bg-container);
  outline: none;
  width: 250px;
  padding: 10px 12px;
}

.form-body .form-label {
  cursor: text;
  user-select: none;
  color: var(--lbl-secondary);
  position: absolute;
  font-size: medium;
  left: 12px;
  top: 12px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-body .form-control:focus+.form-label,
.form-body .form-control:valid+.form-label,
.form-body .form-control:-webkit-autofill+.form-label {
  cursor: unset;
  color: var(--lbl-primary);
  font-size: small;
  left: 0px;
  top: -20px;
}

.form-body #checkbox {
  display: none;
}

.form-body #checkbox+label {
  display: block;
  margin-top: 15px;
  margin-left: 25px;
  cursor: pointer;
  user-select: none;
  transition: 0.25s;
  color: var(--lbl-secondary);
}

.form-body #checkbox+label::before {
  content: "";
  position: absolute;
  left: 40px;
  display: block;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--lbl-secondary);
  height: 15px;
  transition: 0.25s;
  width: 15px;
}

.form-body #checkbox:checked+label {
  color: var(--lbl-primary);
}

.form-body #checkbox:checked+label::before {
  border-color: transparent;
  background-color: var(--lbl-primary);
}

.form-body button {
  display: block;
  margin: 0px auto 0px;
  padding: 10px 12px;
  background-color: var(--bg-container);
  font-size: medium;
  border: none;
  color: var(--lbl-primary);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-footer button {
  width: 100%;
  background-color: var(--bg-container);
  color: var(--lbl-primary);
  padding: 20px 40px;
  font-size: medium;
  border-radius: 0 0 10px 10px;
  border: none;
  cursor: pointer;
}

.form-body button:hover,
.form-footer button:hover {
  background-color: var(--bg-container-hover);
}

#copyright {
  display: block;
  position: absolute;
  font-size: small;
  bottom: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.25s;
}

#copyright .logo {
  transition: 0.25s;
  margin-left: 5px;
  padding: 2px 4px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: #fff;
}

#copyright .so {
  color: rgba(3, 141, 232, 255);
}

#copyright .de {
  color: rgba(253, 64, 81, 255);
}

#copyright .world {
  color: rgb(26, 32, 44);
}

.grecaptcha-badge {
  bottom: 55px !important
}