<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedido</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
  </style>
</head>

<body>
  <div
    style="background: linear-gradient(to bottom right, #C3B9D2, #EACCB0);padding: 40px; max-width: 600px;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
      <h2 style="color: #fff; padding: 10px 20px; border: 1px solid #fff; border-radius: 16px;">Tu formula unica,
        Fabiana:</h2>
      <img src="https://vua.pe/assets/img/logo.svg" alt="Vua" style="height: 40px; margin-top: -15px;">
    </div>
    <div
      style="background-color: #fff; padding: 20px; border-radius: 16px; display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px;">
      <p>
        <b>
          <img src="/public/assets/img/emojis/face-glass.png" alt=""
            style="height: 18px; width: 18px; object-fit: contain; object-position: center; padding-top: 5px;">
          ¿Tu cabello recibió tratamiento?
        </b>
        No
      </p>
      <p>
        <b>
          <img src="/public/assets/img/emojis/eyes.png" alt=""
            style="height: 18px; width: 18px; object-fit: contain; object-position: center; padding-top: 5px;">
          Tipo de cabello
        </b>
        Lacio
      </p>
      <p>
        <b>
          <img src="/public/assets/img/emojis/check.png" alt=""
            style="height: 18px; width: 18px; object-fit: contain; object-position: center; padding-top: 5px;">
          Cuero cabelludo
        </b>
        Normal
      </p>
      <p>
        <b>
          <img src="/public/assets/img/emojis/bulb.png" alt=""
            style="height: 18px; width: 18px; object-fit: contain; object-position: center; padding-top: 5px;">
          Objetivos
        </b>
        Hidratación profunda, Fortalecimiento, Prevención caída
      </p>
      <p>
        <b>
          <img src="/public/assets/img/emojis/flower.png" alt=""
            style="height: 18px; width: 18px; object-fit: contain; object-position: center; padding-top: 5px;">
          Fragancia
        </b>
        Sweet Pear
      </p>
    </div>
    <h2
      style="color: #fff; padding: 10px 20px; border: 1px solid #fff; border-radius: 16px; width: max-content; margin-bottom: 10px;">
      Resumen de tu pedido</h2>
    <div style="display: flex; gap: 5px; margin-bottom: 10px;">
      <div style="width: 146.25px; background-color: #fff; border-radius: 16px; position: relative;">
        <span style="display: block; position: absolute; background-color: #9577B9; padding: 2px 10px; color: #fff; border-radius: 25px; right: 8px; top: 8px;">×2</span>
        <img src="http://vua.pe/api/items/media/conditioner.png" alt=""
          style="width: 100%; aspect-ratio: 3/4; object-fit: cover; object-position: center;">
        <div
          style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 5px; gap: 5px;">
          <b style="text-align: center;">Oleo para puntas</b>
          <div style="display: flex; justify-content: center; gap: 5px;">
            <span
              style="display: block; width: 20px; height: 20px; background-color: black; border: 1px solid #000; border-radius: 50%;"></span>
          </div>
        </div>
      </div>
    </div>
    <div
      style="background-color: #fff; padding: 20px; border-radius: 16px; display: flex; justify-content: space-between; gap: 5px;">
      <div style="display: flex; flex-direction: column; gap: 10px;">
        <p>
          <b>Status:</b>
          <span
            style="background-color: green; width: 22px; height: 22px; display: inline-block; text-align: center; border-radius: 50%; color: #fff; border: 1px solid #000;">✓</span>
          Pendiente de pago
        </p>
        <p>
          <b>Tipo de envío:</b>
          Envío gratis Lima Metropolitana
        </p>
      </div>
      <div style="text-align: end; display: flex; flex-direction: column; gap: 10px;">
        <p style="text-wrap: nowrap;">
          Subtotal: S/ 127.03
        </p>
        <p style="text-wrap: nowrap;">
          igv: S/ 127.03
        </p>
        <p style="text-wrap: nowrap;">
          Total:
          <b>S/ 127.03</b>
        </p>
      </div>
    </div>
  </div>
</body>

</html>